@charset "utf-8";

html, body {
    background-color: lightgray;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

#test1 {
    background-color: lightgray;
    padding-left: 50px;
    padding-right: 50px;
}

#dropdownlogin {
    min-width: 200px;
    margin-left: -115px;
    margin-top: 8px;
}

#ddemail, #ddpwd, #ddcheck, #ddbutton {
    padding-right: 15px;
    padding-left: 15px;
    
}

#hometext, #homelist {
    font-size: 1.2em;
}

.footerfix {
    height: 4rem;
}
.page-footer {
    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


.page-footer #social-icons {
    
    
}
#homeimgs div {
    
}
.carousel-inner > .carousel-item > img { width:100%; height:200px; }
@media (min-width: 992px){

}
}